<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SendCvContext" connectionString="Server=(localdb)\\mssqllocaldb;Database=SendCvDB;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  
  <!--<applicationSettings>
    <SendCV.Properties.Settings>-->
  <appSettings >
        <add key="path" value="c:\testdata.xml"/>
        <add key="rootWritePath" value="d:/SendCv"/>
  </appSettings>
  
    <!--</SendCV.Properties.Settings>
  </applicationSettings>-->
</configuration>