<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SendCVDebugContext" connectionString="Server=(localdb)\mssqllocaldb;Database=SendCvDBTest;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="SendCVContext" connectionString="Server=(localdb)\mssqllocaldb;Database=SendCvDB;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  
  <appSettings >
        <add key="rootWritePath" value="d:/SendCv"/>
  </appSettings>
  
</configuration>